<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>NovaKey</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.novakey.inputmethod</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>NovaKey</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.5</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <!-- Sparkle auto-update keys. SUFeedURL must still be filled before release. -->
    <key>SUFeedURL</key>
    <string>https://REPLACE_WITH_R2_PUBLIC_BASE/latest/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>GvwA2ib22SwaKO/Eghp7J0EBf9qLNF1Zh6gZyksxUqo=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 NovaKey. All rights reserved.</string>
</dict>
</plist>
